@model IEnumerable<ConsommiTounsii.Models.Basket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_basket)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_basket)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_basket)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_basket)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
        <td>
            @Html.ActionLink("validate", "Validatebasket", new { id = item.id_basket }) |
            @Html.ActionLink("Reduce", "Reduction", new { id = item.id_basket }) 


        </td>
    </tr>
}

</table>
